* {
  word-break: break-word;
}
.fakeImg {
  width: 100%;
  height: 400px;
  background: var(--bs-dark);
}
body {
  padding: 20px 20px 0 20px;
}
.besedilo {
  padding: 20px 0 0 0;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
  display: none;
}
.hero-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}
.hero-container {
  position: relative;
}
.sticky-block {
    display: table-row;
    height: 1px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media only screen and (max-width: 767px) {
  .hero-text {
    display: block;
  }
  .naslov {
    display: none;
  }
  .besedilo {
    padding: 20px 50px 0 50px;
    text-align: center;
  }
  body {
    padding: 0;
  }
  .col-md-5 {
    padding: 0;
  }
}
